@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("opensansbold.woff2") format("woff2"), url("opensansbold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;

  src: url("opensanslight.woff2") format("woff2"), url("opensanslight.woff") format("woff");
}
